<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/stylesheet.css') }}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/2f2028059a.js" crossorigin="anonymous"></script>
    <title>Review System - Admin</title>
</head>
<body class="background">
    
  <!--NAVBAR-->
  
    <nav class="navbar navbar-expand-lg navbar-dark dundeeBlue">
        <div class="container-fluid">
            <a class="nav-link navbar-brand text-white" href="">Review System - Admin</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link navbar-brand" href="{{ url_for('review_administration') }}">Administration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navbar-brand active" href="{{ url_for('review_management') }}">Review Management</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto"> 
                    <li class="nav-item">
                        <a class="nav-link navbar-brand" href="/logout">Log Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row mt-4">

            <!-- EXPORT FEEDBACK TO WORD DOC -->

            <div class="col-md-5 mx-auto bg-white shadow p-3 mb-3 bg-body-tertiary rounded">
                <h4>Export feedback</h4>
                <form>
                    <div>
                        <label class="form-label mt-1">Feedback: </label>
                        <select id="feedbackDropdown" class="form-select" style ="height: 42vh;" multiple>
 
                        </select>
                        <button onclick="exportWord()" id="exportButton" type="button" class="btn dundeeBlue text-white mt-3">Export</button>
                    </div>
                </form>
            </div>

            <!-- AUTOMATICALLY EMAIL LECTURERS -->

            <div class="col-md-5 mx-auto bg-white shadow p-3 mb-3 bg-body-tertiary rounded">
                <h4>Send Emails</h4>
                <form>
                    <label class="form-label">Staff: </label>
                        <select id="emailDropdown" class="form-select" multiple>
 
                        </select>
                    <div>
                        <label class="form-label mt-3">Email subject:</label>
                        <input class="form-control" type="text" id="subject" required>
                    </div>
                    <div>
                        <label class="form-label mt-3">Email Content:</label>
                        <textarea class="form-control" id="message" rows="3" required></textarea>
                    </div>
                    <button onclick="emailStaff()" id="emailButton" type="button" class="btn dundeeBlue text-white mt-3">Send Email</button>
                </form>
            </div>
        </div>

        <!--VIEW INCOMPLETE REVIEWS-->

        <div class="row mt-4">
            <div class="col-md-11 mx-auto bg-white shadow p-3 mb-5 bg-body-tertiary rounded">
                <h3 class="mb-3">Reviews not Completed</h3>
                <table class="table table-bordered shadow-sm p-3 mb-4 bg-body-tertiary rounded" id="inProgressTable">
                    <thead>
                        <tr>
                            <th scope="col" class="table-danger">Module</th>
                            <th scope="col" class="table-danger" style="width: 35%;">Assignee</th>
                            <th scope="col" class="table-danger" style="width: 15%;">Deadline</th>
                        </tr>
                    </thead>
                    <tbody id="incompleteTable">
    
                    </tbody>
                </table>
                <div id="incompleteSpinner" class="text-center" style="font-size: 2rem;">
                    <i class="fa-solid fa-gear fa-spin"></i>
                </div>
            </div>       
        </div>
    </div>
    <script src="{{ url_for('static', filename='JS/management.js') }}" defer></script>
</body>
</html>